.top-body
  .top-body__header
    ご利用はこちらから→
    = link_to "Wel-Net", informations_path,{id:"info"}
  .top-body__container
    .top-body__container__text{id:"text"}
      Peace begins with a smile.
      .top-body__container__text__contents{id:"contents"}
        Wel-Net...介護・保育・障がい等、架空の福祉全般の情報提供サイトです。
  .top-body__footer

