.main__container__side
  .main__container__side__nav
    %ul
      %li.main__container__side__nav__mypage
        = link_to '#', class:'list' do
          マイページ
        %i.fas.fa-home
      %li.main__container__side__nav__info
        = link_to '#', class:'list' do
          お知らせ
        %i.far.fa-bell
      %li.main__container__side__nav__list__sell
        = link_to '#', class:'list' do
          事業所情報編集
        %i.fas.fa-user-edit
      %li.main__container__side__nav__list__contact
        = link_to '#', class:'list' do
          お問い合わせ
        %i.fas.fa-id-card-alt

