.contents.row
  %p
    = @office_name
    さんの投稿一覧
  - @informations.each do |information|
    .content_post{:style => "background-image: url(#{information.image});"}
      = simple_format(information.text)
      %span.name
      = information.name

