.contents
  = render 'offices/shared/user_header'
  .contents__name
    = @office_name
    様の投稿一覧
  .contents__post
  - @informations.each do |information|
    .contents__post__content
      = simple_format(information.text)
    .contents__post__image
      = image_tag information.image.url, class: 'lower-message__image',size:250

