.info
  .info__image
    福祉情報のサイトです
    %div.slick
      %div
        %img{alt: "介護",src: "18df9e57223a7c1b44149b83db9593a0_w.jpg"}
      %div
        %img{alt: "保育",src: "9497efd44913e48ae7434b0a08c00956_w.jpg"}
      %div
        %img{alt: "相談",src: "0d9c20fe032ce770d4ae11ce85851b42_w.jpg"}
      %div
        %img{alt: "家族",src: "00a315137469b1ef00bcaba1b3b22e9e_t.jpeg"}
      %div
        %img{alt: "老夫婦",src: "e4a02113f81d15c24c0311fe6f17cbb5_w.jpg"}
      %div
        %img{alt: "家",src: "eb6935419a2d65a242f8f2891d48d415_w.jpg"}
  .info__contents
    - @informations.each do |information|

      .info__contents__list
        -# %p= information.prefectures
        -# %p= information.cities
        .info__contents__list__box
          .info__contents__list__box__name
            = link_to information_path(information.id), method: :get do
              =information.name
          .info__contents__list__box__cities
            %p= information.prefectures
            %p= information.cities
  
