// .contents.row {
*{
  box-sizing: border-box;
}
.account.row {
  text-align: center;
  margin: 10px;

  .container {
    width: 60%;
    margin: 0 auto;
    background-color: rgba(147, 209, 233,0.8);
    height: 700px;
    h2 {
      margin: 30px;
      padding: 15px;
      font-size: 26px;
      background-color:  rgba(147, 209, 233,0.8);
      margin: 0 auto;
    }
    .fields {
      padding:20px 0 ;
      .field{
        height: 50px;
        width: 300px;
      }
    }
    .actions{
      height: 60px;
      input {
        width: 100px;
        height: 50px;
        padding: 15px 40px;
        font-size: 20px;

      }
    }
  }
}
