* {
  box-sizing: border-box;
}
.info {
  &__image{
    background-color: beige;
    margin: 0 auto;
    &__left{
      background-color:beige;
      width: 400px;
      height: 400px;
      margin-right: 20px;
      float: left;
      font-size: 25px;
      font-family: cursive;
      color: blue;
      text-align: center;
    }
    &__right{
      background-color:  beige;
      width: 400px;
      height: 400px;
      float: right;
      font-size: 22px;
      font-family: cursive;
      color: black;
      text-align: center;
    }
    .slick-track{
      margin-right: 100px;
    }
  }
  &__header{
    width: 100%;
    height: 100px;
    background-color: orange;
    border: solid 1px white;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    
  }
  &__contents{
    display: flex;
    &__left{
      background-color: rgb(255, 255, 255);
      height: 420px;
      width: 470px;
      overflow: scroll;
      text-align:left;
      margin: 0 auto;
      border: solid 1px;
      &__header{
        height: 70px;
        width: 100%;
        text-align: center;
        font-size: 60px;
        line-height: 70px;
        font-family:arial ;
        background-color: orange;
      }
      &__list{
        &__box{
          margin: 2em 0;
          background: #dcefff;
          margin: 2px 0;
          &__name{
            font-size: 1.2em;
            background: #5fb3f5;
            padding: 4px;
            text-align: center;
            color: #FFF;
            font-weight: bold;
            letter-spacing: 0.05em;
            cursor: pointer;
            box-shadow: 0 6px #264fa7;
            display: inline-block;
            width: 100%;
            border-radius:10px;
            &:active{
              box-shadow:none;
              position:relative;
              top:7px;
            }
          }
          &__cities{
            text-align: center;
          }
        }
      }
    }
    &__center{
      background-color: rgb(255, 255, 255);
      height: 420px;
      width: 470px;
      overflow: scroll;
      text-align:left;
      margin: 0 auto;
      border: solid 1px;
      &__header{
        height: 70px;
        width: 100%;
        text-align: center;
        font-size: 60px;
        line-height: 70px;
        font-family:arial ;
        background-color: orange;
      }
      &__list{
        &__box{
          margin: 2em 0;
          background: #dcefff;
          margin: 2px 0;
          &__name{
            font-size: 1.2em;
            background: #91fd70;
            padding: 4px;
            text-align: center;
            color: #FFF;
            font-weight: bold;
            letter-spacing: 0.05em;
            cursor: pointer;
            box-shadow: 0 6px #158843;
            display: inline-block;
            width: 100%;
            border-radius:10px;
            &:active{
              box-shadow:none;
              position:relative;
              top:7px;
            }
          }
          &__cities{
            text-align: center;
          }
        }
      }
    }
    &__right{
      background-color: rgb(255, 255, 255);
      height: 420px;
      width: 470px;
      overflow: scroll;
      text-align:left;
      margin: 0 auto;
      border: solid 1px;
      &__header{
        height: 70px;
        width: 100%;
        text-align: center;
        font-size: 60px;
        line-height: 70px;
        font-family:arial ;
        background-color: orange;
      }
      &__list{
        &__box{
          margin: 2em 0;
          background: #dcefff;
          margin: 2px 0;
          &__name{
            font-size: 1.2em;
            background: #f7f46b;
            padding: 4px;
            text-align: center;
            color: #FFF;
            font-weight: bold;
            letter-spacing: 0.05em;
            cursor: pointer;
            box-shadow: 0 6px #cac146;
            display: inline-block;
            width: 100%;
            border-radius:10px;
            &:active{
              box-shadow:none;
              position:relative;
              top:7px;
            }
          }
          &__cities{
            text-align: center;
          }
        }
      }
    }
  }
}