.show-content{
  width: 100%;
  display: block;
  margin: 0 auto;
  &__post{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border: solid 1px;
    &__more{
      height: 30px;
      width: 100%;
      line-height: 30px;
      padding-left: 20px;
      border-bottom: solid 1px;
      .edit{
        font-size: 20px;
        font-family: Verdana;
      }
      .delete{
        padding-left: 20px;
        font-size: 20px;
        font-family: Verdana;
      }
      &__name{
        height: 300px;
        width: 50%;
        float: left;
        border-bottom: solid 1px;
        padding: 20px;
      }
      &__image{
        height: 300px;
        width: 50%;
        float: right;
        border-bottom: solid 1px;
        text-align: center;
        padding-top: 30px;
      }
      &__container{
        .form{
          width: 1000px;
          height: 80px;
          font-size: 20px;
        }
        .send{
          text-decoration: none;
        }

      }
      &__btn{
        height: 30px;
      }
      &__comment{
        height: 500px;
        width: 100%;
        padding: 20px;
        overflow: scroll;
        border: solid 1px;
      }
    }
  }
}