.contents{
  background-color: beige;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow: scroll;
  justify-content: flex-start;
  &__name{
    color: black;
    font-size: 30px;
    height: 100px;
    width: 100%;
    // position: fixed;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: rgb(130, 252, 130);
    line-height: 100px;
    padding: 0 20px;
  }
  &__post{
    // margin-top: 120px;
    margin: 0 auto;
    // display: flexbox;
    // justify-content: space-between;
    &__content{
      float: left;
      height: 300px;
      width: 600px;
      background-color: white;
      border: solid 2px;
      overflow: scroll;
      margin-left: 70px;
      margin-top: 20px;
    }
    &__image{
      float:right;
      margin-right: 70px;
      height:300px;
      width: 600px;
      background-color: white;
      border: solid 2px;
      margin-top: 20px;
      padding-top: 30px;
      text-align: center;
      &__lower-message__image{
        height:300px;
        width: 650px;
      }
    }
  }
}
