@import "reset";



@import "devise";

@import "informations";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "slick-theme"; 
@import "slick";
@import "carousel";

@import "new";
@import "create";
@import "destroy";
@import "show";
@import "offices";
@import "header";
@import "top";
@import "side_bar";
@import "edit";

.notifications {
  color: black;
  text-align: center;  
  font-size: 30px;
  line-height: 60px;

  .notice {
    background-color: rgba(135, 207, 235, 0.8);
    height: 60px;
  }

  .alert {
    background-color: rgba(255, 0, 0, 0.8);
  }
}




