@import "reset";
body{
  background-color: #f6f6f6;
  min-width: 100vh;
  .header{
    height: 100px;
    width: 100%;
    padding: 0 150px;
    background-color: orange;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 30px;
    // justify-content: space-between;
    border: solid 2px white;
    padding: 10px;
    &__title{
      line-height: 100px;
      margin: 0 auto;
      &--text{
        text-decoration: none;
        color:rgb(255, 255, 255);
        font-size: 80px;
        right: 100px;
        line-height: 100px;
        text-shadow: 1px 1px 0 #000,
                    -1px 1px 0 #000,
                    1px -1px 0 #000,
                    -1px -1px 0 #000;
      }
    }
    &__left{
      &__user{
        background-color: rgb(177, 208, 248);
        border: solid 2px blue;
        padding: 10px;
        margin-right: 50px;
        font-size: 20px;
        &--user{
          text-decoration: none;
        }
      }
    }
    &__right{
      &__office{
        background-color:rgb(248, 180, 180);
        border: solid 2px red;
        margin-left: 50px;
        padding: 10px;
        font-size: 20px;
        &--office{
          text-decoration: none;
        }
      }
    }
  }
}
@import "informations";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "slick-theme"; 
@import "slick";
@import "carousel";

@import "new";
@import "create";
@import "destroy";
@import "show";
